.bn-container[data-color-scheme=dark]{
    --bn-colors-editor-text: #cfcfcf;
    --bn-colors-editor-background: #040C2F;
    --bn-colors-menu-text: #cfcfcf;
    --bn-colors-menu-background: #081759;
    --bn-colors-tooltip-text: #cfcfcf;
    --bn-colors-tooltip-background: #161616;
    --bn-colors-hovered-text: #cfcfcf;
    --bn-colors-hovered-background: #161616;
    --bn-colors-selected-text: #cfcfcf;
    --bn-colors-selected-background: #0f0f0f;
    --bn-colors-disabled-text: #3f3f3f;
    --bn-colors-disabled-background: #161616;
    --bn-colors-shadow: #0f0f0f;
    --bn-colors-border: #161616;
    --bn-colors-side-menu: #7f7f7f;
    --bn-colors-highlights-gray-text: #bebdb8;
    --bn-colors-highlights-gray-background: #9b9a97;
    --bn-colors-highlights-brown-text: #8e6552;
    --bn-colors-highlights-brown-background: #64473a;
    --bn-colors-highlights-red-text: #ec4040;
    --bn-colors-highlights-red-background: #be3434;
    --bn-colors-highlights-orange-text: #e3790d;
    --bn-colors-highlights-orange-background: #b7600a;
    --bn-colors-highlights-yellow-text: #dfab01;
    --bn-colors-highlights-yellow-background: #b58b00;
    --bn-colors-highlights-green-text: #6b8b87;
    --bn-colors-highlights-green-background: #4d6461;
    --bn-colors-highlights-blue-text: #0e87bc;
    --bn-colors-highlights-blue-background: #0b6e99;
    --bn-colors-highlights-purple-text: #8552d7;
    --bn-colors-highlights-purple-background: #6940a5;
    --bn-colors-highlights-pink-text: #da208f;
    --bn-colors-highlights-pink-background: #ad1a72;
  }
  